{% extends 'base.html' %}

{% block content %}

<h2 class="text-center text-white mb-5">📊 Dashboard</h2>

<div class="row justify-content-center">

    <div class="col-md-3">
        <div class="card text-center p-4 shadow">
            <h4>🏢 Departments</h4>
            <a href="/department/" class="btn btn-primary mt-3">Open</a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center p-4 shadow">
            <h4>👨‍🏫 Teachers</h4>
            <a href="/teacher/" class="btn btn-warning mt-3">Open</a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center p-4 shadow">
            <h4>🎓 Students</h4>
            <a href="/student/" class="btn btn-success mt-3">Open</a>
        </div>
    </div>

</div>

{% endblock %}