{% extends 'base.html' %}
{% block content %}
<h2>Students</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success">Add Student</button>
</form>

<hr>
<div class="table-responsive">
    <table class="table table-bordered">
        <table class="table table-bordered">
<tr>
    <th>ID</th><th>Name</th><th>Roll No</th><th>Department</th><th>Action</th>
</tr>
{% for s in data %}
<tr>
    <td>{{ s.id }}</td>
    <td>{{ s.name }}</td>
    <td>{{ s.roll_no }}</td>
    <td>{{ s.department }}</td>
    <td>
        <form method="post" action="/delete-student/{{ s.id }}/">
            {% csrf_token %}
            <button class="btn btn-danger">Delete</button>
            <a href="/update-student/{{ s.id }}/" class="btn btn-primary">Edit</a>
        </form>
    </td>
</tr>
       {% endfor %} 
    </table>
</div>
<a href="/dashboard/" class="btn btn-secondary mb-3">⬅ Back to Dashboard</a>
{% endblock %}