{% extends 'base.html' %}
{% block content %}
<h2>Teachers</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success">Add Teacher</button>
</form>

<hr>
<div class="table-responsive">
    <table class="table table-bordered">
<tr>
    <th>ID</th><th>Name</th><th>Email</th><th>Department</th><th>Action</th>
</tr>
{% for t in data %}
<tr>
    <td>{{ t.id }}</td>
    <td>{{ t.name }}</td>
    <td>{{ t.email }}</td>
    <td>{{ t.department }}</td>
    <td>
        <form method="post" action="/delete-teacher/{{ t.id }}/">
            {% csrf_token %}
            <button class="btn btn-danger">Delete</button>
            <a href="/update-teacher/{{ t.id }}/" class="btn btn-primary">Edit</a>
        </form>
    </td>
</tr>
{% endfor %}
</table>
</div>
<a href="/dashboard/" class="btn btn-secondary mb-3">⬅ Back to Dashboard</a>





{% endblock %}